
<div class="row">
    <div class="col-sm-12" style="text-align:center; justify-content:center">
        <div class="text-center">
            <h1 class="display-4">PhotoBoom</h1>
            <h4>Welcome to your favourite website.</h4>
            <p><a href="/Home/MyPhotos">My Photos </a></p>
        </div>
    </div>
</div>
